$background-color: #101020;
$darkerBg: rgb(21, 21, 37);
$white: #c3c5c2;
$allways-white: #c3c5c2;
$span-color: #119da4;
$span-off: #055b5f;
$neon-color: #c3c5c2;
$detail-color: #ff00c8;
$bgImagenHome: url(../images/bgCode1.png);
$bg1: url(../images/bg1.png);
$bg2: url(../images/bg2.png);
$bg3: url(../images/bg3.png);