$background-color: #101020;
$darkerBg: rgb(21, 21, 37);
$white: #c3c5c2;
$allways-white: #c3c5c2;
$span-color: #119da4;
$span-off: #055b5f;
$neon-color: #c3c5c2;
$detail-color: #ff00c8;
$font: "Orbitron", sans-serif;
$secondaryFont: "Ubuntu Mono", monospace;
$bgImagenHome: url(../images/bgCode1.png);