@import "variables";
@import "maps";
@import "mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  .home__bg {
    min-height: 100vh;
    background-image: $bgImagenHome;
    backdrop-filter: blur(4px);
    overflow: hidden;
  }
  body{
      header {
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: $darkerBg;
        color: $allways-white;
        box-shadow: 0 0 20px $span-color, 0 0 40px $span-color,
          0 0 60px $span-color;
        z-index: 10;
          nav {
            background-color: $darkerBg;
            div {
                button:focus {
                    outline: none;
                }
                .active {                    
                    i {
                        color: $span-color;
                    }
                }
                a {
                    transition: .5s;
                }
                i {
                    margin-right: .3em;
                }
            }
          }
      }
      .home__sign {
        min-height: 100vh;
          .reflection {
                -webkit-box-reflect: below 0.5em
                linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
                user-select: none;
                h1 {
                    font-size: 4rem;
                    line-height: 0.7em;
                    font-family: map-get($fonts, font);
                    color: $white;
                    padding-bottom: 0.5em;
                    span {
                        color: $neon-color;                        
                        text-shadow: 0 0 10px $span-color, 0 0 20px $span-color,
                            0 0 30px $span-color, 0 0 40px $span-color,
                            0 0 50px $span-color, 0 0 60px $span-color,
                            0 0 70px $span-color;
                        animation: glow 5s linear;
                        animation-timing-function: steps(5, end);
                        transition: 3s;
                        cursor: pointer;
                    }
                    @keyframes glow {
                        0.1%,
                        20.1%,
                        40.1%,
                        50.1%,
                        65.1%,
                        80.1%,
                        81%,
                        90.2% {
                        color: $allways-white;
                        text-shadow: 0 0 10px $span-color, 0 0 20px $span-color,
                            0 0 30px $span-color, 0 0 40px $span-color,
                            0 0 50px $span-color, 0 0 60px $span-color,
                            0 0 70px $span-color;
                        }
                        0%,
                        20%,
                        21%,
                        40%,
                        41.4%,
                        50%,
                        65%,
                        80%,
                        90%,
                        100% {
                        color: $span-off;
                        text-shadow: none;
                        }
                    }
                }
                h3 {
                    font-family: map-get($fonts, font);
                    color: $allways-white;
                    font-size: 1.5rem;
                }
                ul {
                    margin-top: 1em;
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $allways-white;
                            i {
                                font-size: 2.5rem;
                                margin: 0 0.5em 0 0.5em;
                                transition: 0.2s;
                                &:hover {
                                    transform: scale(1.2) rotate(360deg);
                                    animation: none;
                                    color: $detail-color;
                                }
                            }
                        }
                    }
                }
          }
      }
      /* using mixin here */
      .about__info {
        max-width: 40vw;
        min-width: 400px;
        min-height: 100vh;
        h1 {
            @include font-property(map-get($fonts, font), 4rem, $allways-white, lighter);
            line-height: 4rem;
            text-align: center;
        }
      }
      .learn__bg {
        background-color: $background-color;
        min-height: 100vh;
        overflow: hidden;
      }
      .learn__section {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: auto;
        scroll-snap-type: y mandatory;
        .container {
            position: relative;
            min-width: 100vw;
            height: 100%;
            scroll-snap-align: start;
        }
        /* Using @extend */
        .html {
            background: $bg1;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            margin: 0;
            padding: 0;
        }
        .css {
            @extend .html;
            background-image: $bg2;
        }
        .js {
            @extend .html;
            background-image: $bg3;
          }
    }
      /* projects btn color with each*/
    @each $project, $color in $projects {
    .#{$project}{
        background-color: $color;
        border: 1px solid $color;
       }
    }
      footer {
        font-family: map-get($fonts, secondaryFont);
        color: $detail-color;
        box-shadow: 0 0 20px $span-color, 0 0 40px $span-color,
          0 0 60px $span-color;
        user-select: none;
        padding: .2em;
      }
  }