<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Franco Danielsen</title>
</head>

<body class="about__bg">
    <header>
        <nav>
            <ul class="desktop__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="../views/about-me.html" class="active"><i class="fa fa-exclamation-circle"
                            aria-hidden="true"></i>About Me</a>
                </li>
                <li>
                    <a href="../views/projects.html"><i class="fa fa-cog" aria-hidden="true"></i>Projects</a>
                </li>
                <li>
                    <a href="../views/learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i>Learn About</a>
                </li>
                <li>
                    <a href="../views/contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i>Contact Me</a>
                </li>
            </ul>
            <ul class="mobile__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/about-me.html" class="active"><i class="fa fa-exclamation-circle"
                            aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/projects.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="about">
        <div class="about__img">
            <div class="about__img__deco"></div>
            <img src="../images/profile-photo.png" alt="profile_img">
        </div>
        <div class="about__info">
            <h1>About Me</h1>
            <h4>QA Engineer</h4>
            <p>
                I am a very proactive person, always looking for a way to improve and complement my knowledge. Not
                knowing
                is a temporary state if you have the initiative.
            </p>
            <p>
                A book that changed my life, 7 Habits of Highly Effective People by Stephen Covey, I encourage you to
                read it and change your life.
                <a class="about__info--book" href="https://www.youtube.com/embed/thATmzHx5AY" target="_blank">Here is a summary of the book</a>
            </p>
            <p>
                I currently work at Sovos Compliance as a QA engineer, learning and gaining experience to grow in the
                world of technological development
            </p>
            <ul>
                <li>
                    <a href="https://github.com/francoDani" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/francodanielsen/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <a class="about__info--resume" href="../images/Franco's Resume.pdf" download=""><i class="fa fa-arrow-down"
                    aria-hidden="true"></i>Download My Resume</a>
        </div>
    </section>
    <footer>
        <h4>Designed and Developed by Franco Danielsen 2022</h4>
    </footer>
    <script src="../scrips/index.js"></script>
</body>

</html>