<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Franco Danielsen</title>
</head>
<body class="contact__bg">
    <header>
        <nav>
            <ul class="desktop__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="../views/about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>About
                        Me</a>
                </li>
                <li>
                    <a href="../views/projects.html"><i class="fa fa-cog" aria-hidden="true"></i>Projects</a>
                </li>
                <li>
                    <a href="../views/learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i>Learn About</a>
                </li>
                <li>
                    <a href="../views/contact.html" class="active"><i class="fa fa-envelope-open" aria-hidden="true"></i>Contact Me</a>
                </li>
            </ul>
            <ul class="mobile__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/projects.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="../views/contact.html" class="active"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="contact-section d-flex justify-content-center flex-wrap ">
        <article class="contact__form">
            <form action="">
                <input type="text" placeholder="What's your name?" id="form__name">
                <input type="email" placeholder="and your E-mail?" id="form__mail">
                <textarea name="content" id="" cols="30" rows="10"></textarea>
                <button type="submit">Send Message</button>
                <button type="reset">Clear fields</button>
            </form>
        </article>
        <aside class="contact__aside">
            <h1>You can also contact me by...</h1>
            <p>If you want to contact me directly you can do it by e-mail,
                phone or social networks, I am currently open to new
                experiences and learning projects.</p>
            <ul>
                <li>(+54) 9 123 456456</li>
                <li>franco.danielsen@gmail.com</li>
                <li><a href="https://www.linkedin.com/in/francodanielsen"
                        target="_blank"> https://www.linkedin.com/in/francodanielsen</a></li>
            </ul>
        </aside>
    </section>
    <footer>
        <h4>Designed and Developed by Franco Danielsen 2022</h4>
    </footer>
    <script src="../scrips/index.js"></script>
</body>
</html>