<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Franco Danielsen</title>
</head>

<body class="learn__bg">
    <header>
        <nav>
            <ul class="desktop__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>About Me</a>
                </li>
                <li>
                    <a href="projects.html"><i class="fa fa-cog" aria-hidden="true"></i>Projects</a>
                </li>
                <li>
                    <a href="learn-about.html" class="active"><i class="fa fa-desktop" aria-hidden="true"></i>Learn
                        About</a>
                </li>
                <li>
                    <a href="contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i>Contact Me</a>
                </li>
            </ul>
            <ul class="mobile__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="projects.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="learn-about.html" class="active"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="learn-section">
        <table>
            <th>Video</th>
            <th>Descripción</th>
            <tr>
                <td>
                    <iframe width="430" height="241" src="https://www.youtube.com/embed/10GHKjgQIR0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </td>
                <td>
                    <h2>HTML</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, voluptatem. Amet non in
                        illum itaque at. Ex explicabo illo unde quod quo perferendis, eveniet repellendus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Voluptates veniam corrupti vitae, recusandae
                        repellendus dolore nemo, doloribus, necessitatibus dolores molestiae quos illo. Beatae
                        laboriosam reprehenderit, illo voluptate accusamus ratione consequuntur. </p>
                    <a href="https://www.youtube.com/watch?v=kN1XP-Bef7w" target="_blank">Learn more about</a>
                </td>
            </tr>
            <tr>
                <td>
                    <iframe width="430" height="241" src="https://www.youtube.com/embed/8cSo0ijtkzU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </td>
                <td>
                    <h2>CSS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, voluptatem. Amet non in
                        illum itaque at. Ex explicabo illo unde quod quo perferendis, eveniet repellendus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Voluptates veniam corrupti vitae, recusandae
                        repellendus dolore nemo, doloribus, necessitatibus dolores molestiae quos illo. Beatae
                        laboriosam reprehenderit, illo voluptate accusamus ratione consequuntur. </p>
                    <a href="https://www.youtube.com/watch?v=OWKXEJN67FE" target="_blank">Learn more about</a>
                </td>
            </tr>
            <tr>
                <td>
                    <iframe width="430" height="241" src="https://www.youtube.com/embed/riZbwRFMFuw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </td>
                <td>
                    <h2>JavaScript</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, voluptatem. Amet non in
                        illum itaque at. Ex explicabo illo unde quod quo perferendis, eveniet repellendus! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Voluptates veniam corrupti vitae, recusandae
                        repellendus dolore nemo, doloribus, necessitatibus dolores molestiae quos illo. Beatae
                        laboriosam reprehenderit, illo voluptate accusamus ratione consequuntur. </p>
                    <a href="https://www.youtube.com/watch?v=z95mZVUcJ-E" target="_blank">Learn more about</a>
                </td>
            </tr>
        </table>
    </section>
    <footer>
        <h4>Designed and Developed by Franco Danielsen 2022</h4>
    </footer>
    <script src="../scrips/index.js"></script>
</body>

</html>