<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="aprende, learn, javascript, html, css, programing, programacion, curso">
    <meta name="description"
        content="I will give you an introduction to this world, you have to be curious and learn for your self a lot, be restless and learn beyond the expectations.. Not knowing it's a temporary state if you have the initiative">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Learn more!</title>
</head>

<body class="learn__bg">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="desktop__menu navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link"><i class="fa fa-home"
                                    aria-hidden="true"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about-me.html" class="nav-link"><i class="fa fa-exclamation-circle"
                                    aria-hidden="true"></i>About Me</a>
                        </li>
                        <li class="nav-item">
                            <a href="projects.html" class="nav-link"><i class="fa fa-exclamation-circle"
                                    aria-hidden="true"></i>Projects</a>
                        </li>
                        <li class="nav-item active">
                            <a href="learn-about.html" class="nav-link"><i class="fa fa-desktop"
                                    aria-hidden="true"></i>Learn About</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link"><i class="fa fa-envelope-open"
                                    aria-hidden="true"></i>Contact Me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="learn__section">
        <article class="container html">
            <div class="content">
                <div class="learn__section__information">
                    <h2>HTML</h2>
                    <div class="p__container">
                        <p>The<span> HyperText Markup Language </span>or <span>HTML</span> is the standard markup
                            language for documents designed
                            to be displayed in a <span>web browser</span>. It can be assisted by technologies such as
                            <span>Cascading Style Sheets</span>
                            (CSS) and scripting languages such as <span>JavaScript</span>.</p>

                        <p>HTML elements are the <span>building blocks</span> of HTML pages. With HTML constructs,
                            <span>images and other objects</span>
                            such as interactive forms may be embedded into the rendered page. HTML provides a means to
                            create <span>structured documents</span> by denoting structural
                            semantics for <span>text</span> such as <span>headings, paragraphs, lists, links,
                                quotes</span> and other items. HTML elements are delineated by tags, written using angle
                            brackets. Tags such as <span>
                                < img />
                            </span> and <span>
                                < input />
                            </span> directly introduce content into the page. Other tags such as <span>
                                < p>
                            </span>
                            surround and provide information about document text and may include other <span>tags</span>
                            as sub-elements. Browsers <span>do not display</span> the HTML tags but use them to
                            <span>interpret the content</span> of the page.
                        </p>

                        <p class="p--hide">HTML can <span>embed programs</span> written in a scripting language such as JavaScript,
                            which affects the behavior and content of web pages. Inclusion of CSS defines the look and layout of content.
                            <span>The World Wide Web Consortium (W3C)</span>, former maintainer of the HTML and current maintainer of the
                            <span> CSS standards</span>, has encouraged the use of CSS over explicit presentational HTML since 1997. A
                            form of HTML, <span>known as HTML5</span>, is used to display video and audio, primarily using the <span>< canvas ></span>
                            element, in collaboration with javascript.</p>
                    </div>
                    <div
                        class="learn__section__iframe__container  container-fluid d-flex flex-column align-items-center justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Learn More About
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">HTML</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body  d-flex justify-content-center">
                                        <iframe src="https://www.youtube.com/embed/W-6OY9eI3hk"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="container css">
            <div class="content">
                <div class="learn__section__information">
                    <h2>CSS</h2>
                    <div class="p__container">
                        <p><span>Cascading Style Sheets (CSS)</span> is a style sheet language used for describing the presentation
                            of a <span>document written</span> in a markup language such as <span>HTML.</span> CSS is a cornerstone technology of the
                            World Wide Web, alongside HTML and JavaScript.</p>

                        <p> CSS is designed to <span>enable the separation of presentation and content</span>, including layout,
                            colors, and fonts. This separation can <span>improve content accessibility</span>; provide more flexibility and
                            control in the <span>specification of presentation</span> characteristics; enable multiple web pages to share
                            formatting by <span>specifying the relevant CSS</span> in a <span>separate .css file</span>, which reduces complexity and repetition
                            in the structural content; and enable the .css file to be cached to improve the <span>page load speed</span>
                            between the pages that share the file and its formatting.</p>

                        <p> Separation of formatting and content also <span>makes it feasible</span> to present the same markup page
                            in <span>different styles for different rendering methods</span>, such as <span>on-screen</span>, in print, by voice (via
                            speech-based browser or screen reader), and on Braille-based tactile devices. CSS also has
                            rules for <span>alternate formatting</span> if the content is accessed on a <span>mobile device.</span></p>

                        <p class="p--hide"> The name <span>cascading</span> comes from the specified priority scheme to determine which
                            style rule applies if <span>more than one rule matches</span> a particular element. This cascading priority scheme is
                            <span>predictable</span>.
                        </p>

                        <p class="p--hide"> The <span>CSS specifications</span> are maintained by the World Wide Web Consortium
                            <span>(W3C)</span>.
                            Internet media type (MIME type) text/css is registered for use with CSS by RFC 2318 (March 1998). The W3C
                            operates a
                            free CSS validation service for CSS documents. </p>
                    </div>
                    <div
                        class="learn__section__iframe__container  container-fluid d-flex flex-column align-items-center justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCss">
                            Learn More About
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCss" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">CSS</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body  d-flex justify-content-center">
                                        <iframe src="https://www.youtube.com/embed/6vbgZnQrpbU"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
        <article class="container js">
            <div class="content">
                <div class="learn__section__information">
                    <h2>JavaScript</h2>
                    <div class="p__container">
                        <p>Often abbreviated <span>JS</span>, is a programming language that is one of the <span>core technologies</span> of the
                            <span>World Wide Web</span>, alongside <span>HTML</span> and <span>CSS</span>. Over <span>97% of websites</span> use JavaScript on the client side for
                            <span>web page behavior</span>, often incorporating <span>third-party libraries</span>. All major web browsers have a
                            dedicated JavaScript engine to execute the code on users' devices.</p>

                        <p> JavaScript is a <span>high-level</span>, often just-in-time compiled language that conforms to the
                            <span>ECMAScript</span> standard. It has <span>dynamic typing, prototype-based object-orientation, and first-class
                            functions.</span>
                            It is <span>multi-paradigm</span>, supporting event-driven, functional, and imperative programming
                            styles. It has application <span>programming interfaces</span> (APIs) for working with text, dates, regular
                            expressions,
                            standard data structures, and the Document Object Model (DOM).</p>

                        <p> The <span>ECMAScript standard</span> does not include any input/output (I/O), such as <span>networking,
                            storage</span>, or <span>graphics facilities</span>. In practice, the web browser or other runtime system provides
                            JavaScript
                            APIs for I/O.</p>

                        <p class="p--hide"> JavaScript engines were originally used only in web browsers, but are now
                            core
                            components of
                            some servers and a variety of applications. The most popular runtime system for this usage
                            is
                            Node.js.</p>

                        <p class="p--hide"> Although Java and JavaScript are similar in name, syntax, and respective
                            standard libraries, the
                            two languages are distinct and differ greatly in design.</p>
                    </div>
                    <div
                        class="learn__section__iframe__container  container-fluid d-flex flex-column align-items-center justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalJs">
                            Learn More About
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalJs" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">JavaScript</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body  d-flex justify-content-center">
                                        <iframe src="https://www.youtube.com/embed/upDLs1sn7g4"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>
    <footer class="fixed-bottom navbar-dark bg-dark text-center">
        <h4 class="h6 text-light d-flex align-items-center justify-content-center">Designed and Developed by Franco
            Danielsen 2022</h4>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>