<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
	<link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Franco Danielsen</title>
</head>

<body class="project__bg d-flex">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="desktop__menu navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link"><i class="fa fa-home"
                                    aria-hidden="true"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about-me.html" class="nav-link"><i class="fa fa-exclamation-circle"
                                    aria-hidden="true"></i>About Me</a>
                        </li>
                        <li class="nav-item active">
                            <a href="projects.html" class="nav-link"><i class="fa fa-cog"
                                    aria-hidden="true"></i>Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="learn-about.html" class="nav-link"><i class="fa fa-desktop"
                                    aria-hidden="true"></i>Learn About</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link"><i class="fa fa-envelope-open"
                                    aria-hidden="true"></i>Contact Me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section
        class="about container-fluid d-flex align-items-center justify-content-between justify-content-center flex-wrap">
        <div class="project__container container-fluid d-flex align-items-center justify-content-between flex-wrap">
            <div class="card bg-dark text-white text-center" style="width: 18rem;">
                <img src="../images/pepsiClone1.png" class="card-img-top" alt="pepsi-clone">
                <div class="card-body">
                    <h5 class="card-title">Pepsi Clone</h5>
                    <p class="card-text">this is a regular practice exercise to improve css skills and use vanilla
                        javascript to change images
                        and background color. This was one of my first exercises.</p>
                    <a href="https://github.com/francoDani/pepsi-clone" target="_blank" class="pepsi btn btn-primary">See the clone!</a>
                </div>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 18rem;">
                <img src="../images/webResume1.png" class="card-img-top" alt="pepsi-clone">
                <div class="card-body">
                    <h5 class="card-title">Web webResume</h5>
                    <p class="card-text">A little web Resume, I create it a lot time ago for practice and for have something that demonstrate the skills acquired,this was builded with some JS for toggle theme color</p>
                    <a href="https://github.com/francoDani/personalresume" target="_blank" class="resume btn btn-primary">See it on Github</a>
                </div>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 18rem;">
                <img src="../images/calculator1.png" class="card-img-top" alt="pepsi-clone">
                <div class="card-body">
                    <h5 class="card-title">Cost Calculator</h5>
                    <p class="card-text">I made this web app to make it easy to calculate costs in a Drugstore, I use React JS for the frontend and javascript for the calculation functions.</p>
                    <a href="https://github.com/francoDani/costcalculator" target="_blank" class="calculator btn btn-primary">Try It!</a>
                </div>
            </div>
            <div class="card bg-dark text-white text-center" style="width: 18rem;">
                <img src="../images/calculator3.png" class="card-img-top" alt="pepsi-clone">
                <div class="card-body">
                    <h5 class="card-title">Calculator with Crud SQL</h5>
                    <p class="card-text">This is a version 2.0 of the previous one, in this one I added a database connection for a wholesale agenda, I made this as a SPA with React JS.</p>
                    <a href="https://www.youtube.com/watch?v=ReK0kscoF8o" target="_blank" class="calculator2 btn btn-primary">It's complicated</a>
                </div>
            </div>
    </section>
    <footer class="fixed-bottom navbar-dark bg-dark text-center">
        <h4 class="h6 text-light d-flex align-items-center justify-content-center">Designed and Developed by Franco
            Danielsen 2022</h4>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>