<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Franco Danielsen</title>
</head>

<body class="project__bg">
    <header>
        <nav>
            <ul class="desktop__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li>
                    <a href="about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>About Me</a>
                </li>
                <li>
                    <a href="projects.html" class="active"><i class="fa fa-cog" aria-hidden="true"></i>Projects</a>
                </li>
                <li>
                    <a href="learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i>Learn About</a>
                </li>
                <li>
                    <a href="contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i>Contact Me</a>
                </li>
            </ul>
            <ul class="mobile__menu">
                <li>
                    <a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="about-me.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="projects.html" class="active"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="learn-about.html"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="contact.html"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </header>    
        <div class="project__container">
            <div class="project__section__container">
                <img src="../images/pepsiClone.png" alt="project-image">
                <div class="project__section__container--hover">
                    <h3>
                        Pepsi Clone
                    </h3>
                    <p>this is a regular practice exercise to improve css skills and use vanilla javascript to change images
                        and background color. This was one of my first exercises.</p>
                    <a href="#">
                        See it on Github
                    </a>
                </div>
            </div>
            <div class="project__section__container">
                <img src="../images/webResume.png" alt="project-image">
                <div class="project__section__container--hover">
                    <h3>
                        Project Name
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odio possimus, autem placeat similique
                        dignissimos magni eligendi consequatur, accusantium quaerat quidem numquam repellendus quae mollitia
                        laborum assumenda dolor, fuga vel!</p>
                    <a href="#">
                        See it on Github
                    </a>
                </div>
            </div>
            <div class="project__section__container">
                <img src="../images/calculator.png" alt="project-image">
                <div class="project__section__container--hover">
                    <h3>
                        Project Name
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odio possimus, autem placeat similique
                        dignissimos magni eligendi consequatur, accusantium quaerat quidem numquam repellendus quae mollitia
                        laborum assumenda dolor, fuga vel!</p>
                    <a href="#">
                        See it on Github
                    </a>
                </div>
            </div>
            <div class="project__section__container">
                <img src="../images/calculator2.png" alt="project-image">
                <div class="project__section__container--hover">
                    <h3>
                        Project Name
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odio possimus, autem placeat similique
                        dignissimos magni eligendi consequatur, accusantium quaerat quidem numquam repellendus quae mollitia
                        laborum assumenda dolor, fuga vel!</p>
                    <a href="#">
                        See it on Github
                    </a>
                </div>
            </div>
        </div>
    <footer>
        <h4>Designed and Developed by Franco Danielsen 2022</h4>
    </footer>
    <script src="../scrips/index.js"></script>
</body>

</html>