:root {
  --background-color: #101020;
  --darkerBg: rgb(21, 21, 37, 0.5);
  --white: #c3c5c2;
  --allways-white: #c3c5c2;
  --span-color: #119da4;
  --span-off: #055b5f;
  --neon-color: #c3c5c2;
  --detail-color: #ff00c8;
  --font: "Orbitron", sans-serif;
  --secondaryFont: "Ubuntu Mono", monospace;
}
.about__bg {
  background-color: var(--background-color);
  min-height: 100vh;
}
.contact__bg {
  background-color: var(--background-color);
  min-height: 100vh;
}
.about {
  height: 100vh;
}
.about__img {
  position: relative;
  max-width: 40vw;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.about__img__deco {
  width: 500px;
  height: 500px;
  background-color: rgb(80, 80, 80, 0.5);
  position: absolute;
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg) translate(15%);
  transition: 1s;
}
.about__img img {
  width: 70%;
  min-width: 400px;
  z-index: 5;
  transition: 1s;
}
.about__img img:hover {
  transform: scale(1.05);
}
.about__img:hover div {
  transform: rotate(90deg) translate(15%);
}
.about__info h4 {
  color: var(--detail-color);
  font-family: var(--secondaryFont);
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.about__info p {
  color: var(--allways-white);
  font-size: 1.2rem;
  line-height: 1.9rem;
  width: 100%;
  font-family: var(--secondaryFont);
  font-weight: bold;
  text-align: justify;
  text-indent: 40px;
}
.about__info ul {
  margin-top: 1em;
}
.about__info ul li {
  list-style: none;
}
.about__info ul li a {
  text-decoration: none;
  color: var(--allways-white);
}
.about__info ul li a i {
  font-size: 2.5rem;
  margin: 0 0.5em 0 0.5em;
  transition: 0.2s;
}
.about__info ul li a i:hover {
  transform: scale(1.2) rotate(360deg);
  animation: none;
  color: var(--detail-color);  
}
.about__info--book {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--span-color);
  transition: 0.5s;
}
.about__info--book:hover {
  color: var(--detail-color);
  text-decoration: none;
}
.about__info--resume {
  text-decoration: none;
  font-family: var(--secondaryFont);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2em;
  color: var(--allways-white);
  text-shadow: 0 0 10px var(--detail-color), 0 0 15px var(--detail-color),
    0 0 20px var(--detail-color);
  border-radius: 15px;
  padding: 0.5em;
  transition: 0.5s;
}
.about__info--resume:hover {
  color: var(--allways-white);
  transform: scale(1.1);
  text-shadow: 0 0 10px var(--detail-color), 0 0 15px var(--detail-color),
    0 0 20px var(--detail-color), 0 0 30px var(--detail-color),
    0 0 35px var(--detail-color);
    text-decoration: none;
}
.project__bg {
  background-color: var(--background-color);
  min-height: 100vh;
}
.project__section {
  position: relative;
  padding: 0;
}
.projects__title {
  position: absolute;
  color: white;
  top: 2em;
  width: 100%;
  text-align: center;
}
.project__container {
  margin: 3em 0 3em 0;
}
.card {
  margin-top: 1em;
  box-shadow: 10px 0 20px black;
  min-height: 400px;
  position: relative;
}
.card a {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* 
.learn__section .other {
  background: url(../images/bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
} */
.content {
  position: absolute;
  padding: 8em 2em 0 2em;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 0, 0, 0.5);
}
.learn__section__iframe__container {
  height: fit-content;
}
.learn__section iframe {
  width: 100%;
  height: 40vh;
}
.learn__section__information h2 {
  font-family: var(--font);
  color: var(--allways-white);
  font-size: 3rem;
  text-align: center;
}
.learn__section__information p {
  font-family: var(--secondaryFont);
  color: white;
  font-size: 1.2rem;
  text-align: justify;
  padding-right: 1em;
  text-indent: 20px;
  text-shadow: 0 0 5px black, 0 0 10px black;
  padding: 0 1em 0 1em;
}
.learn__section__information a {
  color: white;
  font-family: var(--secondaryFont);
  font-size: 1.3rem;
  margin-top: 1em;
}
.contact-section {
  width: 100vw;
  min-height: 100vh;  
}
.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
.contact__form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.contact__form form input {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2em;
  height: 2rem;
  background-color: transparent;
  border: solid 2px var(--allways-white);
  text-align: center;
  font-size: 1rem;
  color: white;
}
.contact-section #form__name {
  border-color: var(--detail-color);
}
.contact-section #form__name:focus {
  box-shadow: 0 0 10px var(--detail-color);
  outline: none;
}
.contact-section #form__mail {
  border-color: var(--span-color);
}
.contact-section #form__mail:focus {
  box-shadow: 0 0 10px var(--span-color);
  outline: none;
}
.contact__form form textarea {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  background-color: transparent;
  border: solid 2px var(--allways-white);
  color: white;
  font-size: 1rem;
  resize: none;
}
.contact__form form button {
  margin-top: 1em;
  padding: 0.5em;
  font-family: var(--secondaryFont);
  font-size: 1rem;
  background-color: transparent;
  color: var(--span-color);
  border: solid 2px var(--detail-color);
  border-radius: 25px;
  min-width: 300px;
  transition: 0.5s;
}
.contact__form form button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--detail-color);
}
.contact__form form button:focus {
  outline: none;
}
.contact__aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  width: 50vw;
  min-width: 300px;
}
.contact__aside h1 {
  font-family: var(--font);
  color: var(--white);
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
}
.contact__aside p {
  color: var(--white);
  font-family: var(--secondaryFont);
  font-size: 1.7rem;
  text-align: center;
  width: 80%;
  margin: 2em;
}
.contact__aside ul {
  list-style: none;
  color: var(--white);
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contact__aside ul li {
  margin: 5px;
}
.contact__aside ul li a {
  text-decoration: none;
  color: var(--white);
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #101020;
}
::-webkit-scrollbar-thumb {
  background: var(--span-off);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--span-color);
}

@media screen and (max-width: 1024px) {
  .about__info {
    padding-left: 1em;
  }
  .about__info h1 {
    font-size: 4rem;
    line-height: 3rem;
  }
  .about__info h4 {
    font-size: 2rem;
    margin: 0;
  }
  .about__info p {
    font-size: 1rem;
  }
  .about__img__deco {
    width: 400px;
    height: 400px;
  }
  .content {  
    padding: 4em 1em 0 1em;  
  }
  .content p {
    transform: scale(.8);
    margin: 0;
    padding: 0;
  }
  .learn__section__information h2 {
    width: 100%;
    text-align: center;
  }
  .learn__section__information a {
    width: 100%;
  }
  .contact__aside {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    width: 100%;
  }
  .desktop__menu {
    margin-left: 0;
  }
  .desktop__menu li {
    font-size: 0.8rem;
  }
  .home__sign h1 {
    line-height: 1em;
    padding-bottom: 0.2em;
  }
  .home__sign h1 span {
    display: block;
  }
  .about {
    column-gap: 0;
  }
  .about__img {
    min-width: 100%;
  }
  .about__img__deco {
    width: 350px;
    height: 350px;
  }
  .about__img img {
    width: 50%;
    min-width: 400px;
    z-index: 5;
    transition: 1s;
  }
  .about__info {
    min-width: 100%;
  }
  .about__info h1 {
    font-size: 4rem;
  }
  .about__info h4 {
    font-size: 2rem;
  }
  .about__info a {
    font-size: 1em;
  }
  .contact__bg {
    height: 100%;
  }
  .contact-section {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
  }
  .contact-section .contact__form {
    margin: 5em 0 3em 0;
  }
  .contact-section aside {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .about {
    display: grid;
    padding-top: 0 !important;
    grid-template-columns: 90vw;
    grid-template-rows: 70vh 80vh;
    justify-content: center;
  }
  .about__img {
    align-self: flex-start;
    padding-top: 4em;
  }
  .about__info {
    align-self: flex-start;
  }
  .home__bg {
    background-color: var(--background-color);
    background-image: none;
  }
  .about__bg {
    background-color: var(--background-color);
    background-image: none;
  }
  .learn__bg {
    background-color: var(--background-color);
    background-image: none;
  }
  .contact__bg {
    background-color: var(--background-color);
    background-image: none;
  }
  header nav {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .active {
    font-size: 1.7;
  }
  footer {
    display: none;
  }
  .about__img__deco {
    width: 300px;
    height: 300px;
  }
  .about {
    padding-top: 3em;
  }
  .about__img img {
    width: 40%;
    min-width: 350px;
    z-index: 5;
    transition: 1s;
  }
  .about__info {
    padding-left: 0em;
  }
  .about__info h1 {
    font-size: 4rem;
  }
  .about__info h4 {
    font-size: 1.5rem;
  }
  .about__info--resume {
    margin-bottom: 3em;
  }
  .project__bg {
    background-image: none;
    background-color: var(--background-color);
  }
  .project__container {
    justify-content: center !important;
    margin-top: 8em;
  }
  .project__section__container {
    transform: scale(0.9);
  }
  .card {
    margin: 1em;

  }
  .content {
    padding: 4em 0 0 0;
  }
  .content p {
    line-height: 1em;
  }
  .learn__section{
    overflow-x: hidden;    
  }
  .learn__section__iframe__container iframe {
    transform: scale(0.9);
  }
  .learn__section__information {
    align-items: flex-start;
  }
  .learn__section__information h2 {
    width: 100%;
    text-align: center;
  }
  .learn__section__information a {
    margin: 0.5em;
  }
  .contact__bg {
    overflow: scroll;
  }
  .contact-section {
    width: 100vw;
    align-items: center;
    justify-content: center;
    grid-template-rows: 70vh 60vh;
  }
}
@media screen and (max-width: 480px) {
  .mobile__menu {
    transform: scale(0.8);
  }
  .home__sign {
    transform: scale(0.8);
  }
  .learn__section__information h2 {
    width: 100%;
    text-align: center;
    transform: scale(0.8);
    margin-bottom: 1em;
  }
  .learn__section__information p {
    transform: scale(0.6);
    line-height: 1em;    
    margin: -2em;
    }
  .p--hide {
    display: none;
  }
  .learn__section__information button {        
    margin-top: 2em;
  }
  .about__img {
    max-height: 70vh;
  }
  .about__img__deco {
    transform: scale(0.8);
  }
  .about__info {
    width: 100vw;
    padding: 1em;
    min-height: 70vh;
  }
  .contact-section {
    transform: scale(0.8);
  }
  .contact__form form {
    width: 100%;
  }
  .contact__form form input {
    width: 100%;
    max-width: 350px;
  }
  .contact__form form textarea {
    width: 100%;
    max-width: 350px;
  }
  .contact__form form button {
    max-width: 300px;
  }
}
@media screen and (max-height: 600px) {  
  .project__section__container {
    margin: 0;
    transform: scale(0.9) translateY(-15vh);
  }  
  .content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learn__section__information p {
    display: none;
  }
  .contact-section {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 50vh;
    justify-content: space-around;
  }
  .contact__form form {
    width: 100%;
  }
  .contact__form form input {
    width: 70%;
    max-width: 200px;
  }
  .contact__form form textarea {
    width: 100%;
    max-width: 200px;
    min-height: 100px;
  }
  .contact__form form button {
    max-width: 300px;
  }
}
